* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: hsl(0, 0%, 100%);
  font-family: "Overpass", "Courier New", Courier, monospace;
}

p,
button {
  font-size: 15px;
  color: hsl(216, 12%, 54%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 800px;
  width: 1440px;
  background-color: hsl(216, 12%, 8%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-card {
  opacity: 1;
}
