.thank-you-card {
  height: 415px;
  width: 415px;
  padding: 20px;
  border-radius: 28px;
  background-color: hsl(213, 20%, 18%);

  position: absolute;
  transform: translateX(50px);
  opacity: 0;
  pointer-events: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    pointer-events: none;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
  }
}

.thank-you-card .image1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thank-you-card .thank-you-text p,
.thank-you-card span {
  color: hsl(25, 97%, 53%);
}

.thank-you-card .thank-you-text p {
  background-color: hsl(213, 19%, 23%);
  padding: 15px;
  border-radius: 23.4px;
}

.thank-you-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thank-you-card h1,
.thank-you-card p:nth-child(8) {
  text-align: center;
}
